.gka-wrap {
    width: 159px;
    height: 189px;
}

.animation {
    width: 159px;
    height: 189px;
    background-image: url("./img/a1.png");
    background-size: 159px 189px;
    background-repeat: no-repeat;
    animation-name: keyframes-img;
    animation-duration: 0.36s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

@keyframes keyframes-img {
    0% {
        width: 159px;
        height: 189px;
        background-image: url("./img/a1.png");
        background-size: 159px 189px;
    }
    11.11% {
        width: 161px;
        height: 192px;
        background-image: url("./img/a2.png");
        background-size: 161px 192px;
    }
    22.22% {
        width: 162px;
        background-image: url("./img/a3.png");
        background-size: 162px 192px;
    }
    33.33% {
        background-image: url("./img/a4.png");
    }
    44.44% {
        width: 163px;
        height: 193px;
        background-image: url("./img/a5.png");
        background-size: 163px 193px;
    }
    55.56% {
        width: 164px;
        background-image: url("./img/a6.png");
        background-size: 164px 193px;
    }
    66.67% {
        width: 162px;
        height: 192px;
        background-image: url("./img/a7.png");
        background-size: 162px 192px;
    }
    77.78% {
        width: 164px;
        height: 194px;
        background-image: url("./img/a8.png");
        background-size: 164px 194px;
    }
    88.89%,
    100% {
        width: 165px;
        height: 195px;
        background-image: url("./img/a9.png");
        background-size: 165px 195px;
    }
}